<footer class="site-footer">
	<div class="footer-container">
		<div class="footer-logo">
			<img src="{{ asset('assets/img/logo.png') }}" alt="logo Innae">
		</div>
		<div class="footer-links">
			<a href="{{ path('app_home') }}">Accueil</a>
			<a href="{{ path('app_training_index') }}">Ateliers</a>
			<a href="{{ path('app_order_public') }}">Commander</a>
			<a href="{{ path('app_contact_public') }}">Contact</a>
		</div>
		<div class="social-links">
			<a href="https://www.instagram.com/cedenia_wilder/" target="_blank" rel="noopener" class="social-icon">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor">
					<path d="M12 2.2c3.2 0 3.584.012 4.85.07 1.17.054 1.958.24 2.41.403a4.92 4.92 0 011.76 1.02 4.92 4.92 0 011.02 1.76c.163.452.349 1.24.403 2.41.058 1.266.07 1.65.07 4.85s-.012 3.584-.07 4.85c-.054 1.17-.24 1.958-.403 2.41a4.92 4.92 0 01-1.02 1.76 4.92 4.92 0 01-1.76 1.02c-.452.163-1.24.349-2.41.403-1.266.058-1.65.07-4.85.07s-3.584-.012-4.85-.07c-1.17-.054-1.958-.24-2.41-.403a4.92 4.92 0 01-1.76-1.02 4.92 4.92 0 01-1.02-1.76c-.163-.452-.349-1.24-.403-2.41C2.212 15.584 2.2 15.2 2.2 12s.012-3.584.07-4.85c.054-1.17.24-1.958.403-2.41a4.92 4.92 0 011.02-1.76 4.92 4.92 0 011.76-1.02c.452-.163 1.24-.349 2.41-.403C8.416 2.212 8.8 2.2 12 2.2zm0-2.2C8.735 0 8.332.013 7.052.072 5.77.131 4.692.33 3.763.653a7.11 7.11 0 00-2.562 1.677A7.11 7.11 0 00.653 4.892C.33 5.82.131 6.898.072 8.18.013 9.46 0 9.864 0 12c0 2.136.013 2.54.072 3.82.059 1.282.258 2.36.581 3.288a7.11 7.11 0 001.548 2.562 7.11 7.11 0 002.562 1.548c.928.323 2.006.522 3.288.581 1.28.059 1.684.072 3.82.072s2.54-.013 3.82-.072c1.282-.059 2.36-.258 3.288-.581a7.11 7.11 0 002.562-1.548 7.11 7.11 0 001.548-2.562c.323-.928.522-2.006.581-3.288.059-1.28.072-1.684.072-3.82s-.013-2.54-.072-3.82c-.059-1.282-.258-2.36-.581-3.288a7.11 7.11 0 00-1.548-2.562A7.11 7.11 0 0019.545.653c-.928-.323-2.006-.522-3.288-.581C14.54.013 14.136 0 12 0z"/>
					<path d="M12 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zm0 10.162a3.999 3.999 0 110-7.998 3.999 3.999 0 010 7.998z"/>
					<circle cx="18.406" cy="5.594" r="1.44"/>
				</svg>
			</a>
		</div>

		<div class="footer-copy">
			<p>&copy;
				{{ "now"|date("Y") }}
				Innae. Tous droits réservés.</p>
		</div>
	</div>
</footer>
