{% extends 'base.html.twig' %}

{% block title %}Message Contact
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/BackOffice/Admin/Contact/show.css') }}">
{% endblock %}

{% block main %}
	<main class="contact-show">
		<h1>Message de
			{{ contact.name }}</h1>

		<p>
			<strong>Email :</strong>
			{{ contact.email }}</p>
		<p>
			<strong>Message :</strong>
		</p>
		<p>{{ contact.message }}</p>
		<p>
			<strong>Envoyé le :</strong>
			{{ contact.createdAt|date('d/m/Y H:i') }}</p>

		<a href="{{ path('backoffice_contact_index') }}" class="btn btn-info">← Retour à la liste</a>
	</main>
{% endblock %}
